/* Укажем шрифт для тега body - родителя всеъ элементов*/
@font-face {
	font-family: "Caviar Dreams";
	src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
	font-family: "Caviar Dreams";
	src:  url(../fonts/CaviarDreams_Bold.ttf);
}
@font-face {
	font-family: "Caviar Dreams";
	src:  url(../fonts/CaviarDreams_Italic.ttf);
}
@font-face {
	font-family: "Caviar Dreams";
	scr: url(../fonts/CaviarDreams_BoldItalic);
}

body {
	font-family: Arial;
	/* background-image: linear-gradient(to right top, salmon 0%, white 67%, salmon 100%); */
	background-image: repeating-linear-gradient(to right, white 0px, bisque 5px, white 10px);
	margin: 0px;
}

header {
	background-color: white;
	height: 80pt;
	/* margin-bottom: 20pt; */
}
.pos1, .pos2, .pos3, .pos4, .pos5 {
	position: absolute;
}
.pos1 {
	left: 0pt;
	top: 0pt;
	width: 140pt;
}
.pos1 img { height: 80pt; }
.pos2 {
	left: 140pt;
	top: 29pt;
	right: 0pt;
}
.pos2 h1 {
	font: bold italic 42pt Verdana;
	text-transform: uppercase;
	text-align: right;
	margin: 0px;
	letter-spacing: 10pt;
	background-color: darksalmon;
}
.pos3 {
	left: 140pt;
	top: 4pt;
	right: 70pt;
}
.pos3 h1 {
	margin: 0px;
	font: bold 24pt Verdana;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 6pt;
	color: darksalmon;
}

p {
	font-size: 14pt;
}

p.greeting {font-size: 16pt;}
P::selection {
	color: black;
	background-color: lightgrey;
}
address {text-align: right;}
.advertising {
	margin-left: 30pt;

}
.advertising div {
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
}
footer {
	text-align: right;
	background-color: white;
	height: 120pt;
	position: relative;
	margin: 0px;
}
.pos4 {
	top: 0pt;
	right: 20pt;
}
.pos5 {
	margin: 0px;
	top: 20pt;
	left: 30pt;
	width: 100pt;
	text-align: center;
	background-color: yellow;
}
.pos5 a {
	font: bold 14pt Verdana;
	text-align: center;

}
main {
	text-align: justify;
	padding-right: 10px;
	/* margin-left: 210px; убрано для табличного макета */
}
.bigger {font-size: 16pt;}

/*table.pricelist {border-collapse: collapse;}*/
table.pricelist th, table.pricelist td {
	border: grey thin solid;
	padding: 4px;
}
table.pricelist thead th {
	color: wite;
	background-color: grey;
}
table.pricelist tfoot td {
	text-align: right;
	font-style: italic;
}
table.pricelist td:last-child:not(:only-child) {
	border: none;
	background-color: lightgrey;
}
table.pricelist th[colspan="2"] {text-align: center;}
table.catalog {
	border-collapse: collapse;
	width: 70%;
	min-width: 12cm;
	}
table.catalog h3 {
	font-family: "Caviar Dreams";
	font-size: 20pt;
	font-variant: small-caps;
	text-transform: capitalize;
	letter-spacing: 2pt;
}
table.catalog td {
	border-top: black thin dotted;
	border-bottom: black thin dotted;
	padding: 10px;
}
table.catalog td:first-child {
	width: 50%;
}
table.catalog td p:first-of-type::first-letter {
	font-size: 24pt;
	vertical-align: top;
}
table.catalog tr:first-child td {
	border-top: none;
}
table.catalog tr:last-child td {
	border-bottom: none;
}
table.catalog img {width: 100%}
table.catalog h3::after {content: ":"}
nav {
	/* float: left; убрано для табличного макета */
	width: 150px;
	/* margin: 10px 40px 10px 0px; убрано для табличного макета */
	padding: 10px;
	/*border: black medium double;
	border-radius: 10px;*/
	/* box-shadow: 0px 0px 5px 5px darkgrey inset, 0px 0px 5px 5px darkgrey; туманная тень*/
	background-color: rgba(255, 255, 255, 0.7);
}

nav div, nav a {
	font-size: 20pt;
	margin-top: 5px;
	margin-bottom: 5px;
/*	margin-right: 40px;
	margin-bottom: 20px;*/
}
nav a {
	display: block;
}
nav a:link, nav a:visited {
	color: darkred;
	text-decoration: none;
}
nav a:active, nav a:hover {
	color: darksalmon;
	text-decoration: none;
}
/* footer {
	border-top: 2px dotted lightgrey;
	width: 50%;
	min-width: 300px;
	margin-left: 50%;
} */
ol {list-style-type: upper-roman;}
form {
	width: 400px;
	padding: 0px 10px;
	border: thin dotted darkgrey;
	border-radius: 5px;
}
input, select {
	font: 14pt Courier;
	padding: 5px;
	border: medium double black;
	border-radius: 5px;
}

input[type=submit] {
	font: bold 20pt Verdana;
	text-transform: uppercase;
	width: 250px;
	border: thick solid black;
	border-radius: 0px;
}
input[type=image] {
	border-style: none;
}
input:focus{background-color: yellow;}
/*input[type=submit]:valid{
	border-color: black;
}*/
input:valid{
	border-color: green;
}
input:invalid, select:invalid {
	border-color: red;
	background-color: red;
}

div#tablecont {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
div#tablecont > div {
	display: table-row;
}
div#tablecont > div > * {
	display: table-cell;
	vertical-align: top;
}
